
BACKEND_SENTRY_DSN=""
ENVIRONMENT="development"
JWT_SECRET="your-secret-goes-here"

MONGO_URL="mongodb://root:root@localhost/"
REDIS_URL="redis://:root@localhost:6379/0"

# The following variables are only required FOR PRODUCTION:

EMAIL_SENDER_NAME="School Tools"
EMAIL_SENDER_FROM="example@example.com"
MAILGUN_DOMAIN="example.com"
MAILGUN_API_KEY="1234"